
.formprise {
  	display: flex;
    flex-direction: column;
    margin: auto;
  	width:300px;
}
.inp {
  	margin: 2px auto 10px;
  	width:100%;
}
button {
	width: 30%;
}
.dimension {
	display: flex;
    flex-direction: row;
}
.multipl {
	margin-right: 5px;
}
.multipl:last-child {
	margin-right: 0;
}
.multipl-cont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}