
body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif, 'Hammersmith One', sans-serif, 'Playfair Display', serif;
	font-size: 16px;
	color: #717171;
}

.img {
	width: 100%;
	height: auto;
	box-sizing: border-box;
}



.h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: uppercase;
    margin-bottom: 23px;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Playfair Display';
}

.h1 {
    font-size: 32px;
}

.h2 {
	font-size: 24px;
}

.h3 {
	font-size: 19px;
}

.h4 {
	font-size: 16px;
}

.h5 {
	font-size: 13px;
}

.h6 {
	font-size: 11px;
}


.block-item .block-item__title {
	margin-top: 0;
	margin-bottom: 15px;
}

.block-item .block-item__subtitle {
    font-weight: normal;
    font-size: 17px;
    color: #8e8d91;
}

.block-item .block-item__title_white, 
.block-item .block-item__subtitle_white {
	color: #fff;
}

.block-item .block-item__title_capitalise {
	text-transform: capitalize;
}


.link, .button {
	text-decoration: none;
	vertical-align: middle;
	display: block;
}

.button {
	display: inline-block;
	font-size: 14px;
    font-family: Hammersmith;
    font-weight: 900;
	line-height: 1.7;
    padding: 8px 15px;
	vertical-align: middle;
    transition: all ease 0.15s;
    background-color: transparent;
    border-radius: 2px;
    color: #7edfcf;
  	border: 2px solid #7edfcf;
  	text-transform: uppercase;
}

.button:hover {
  color: #fff;
  background-color: #7edfcf;
  border-color: #7edfcf;
}

.separator{
	margin-top: 14px;
	margin-bottom: 14px;
    width: 50px;
    border: 0;
	border-bottom: 1px solid #c6c5c9;
    background: transparent;
}

.container {
	padding: 0 15px;
	max-width: 1140px;
	height: 100%;
	margin: 0 auto;
}

.row {
	display: -ms-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.header {
	display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	margin-top: 20px;
}


.logo {
 margin-left: 50px;
 display: block;
}

.logo .img {
	width: 128px;
	height: auto;
}


.header-navbar,
.footer-container {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-items: center;
	-ms-align-items: center;
	justify-content: space-between;
	-ms-flex-pack: justify;
}

.menu-icon {
	display: none;
	width: 45px;
	height: 35px;
	position: relative;
	cursor: pointer;
}

.menu-icon span {
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	background: #fff;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
	top: 0;
}
.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
	top: 13px;
}
.menu-icon span:nth-child(4) {
	top: 26px;
}



.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin-right: 40px
}


.nav .nav-item {
	display: block;
	padding: 0 14px;
 	color: #fff;
 	font-size: 13px;
 	font-family: roboto;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
}

.nav .nav-item:hover {
 	color: #7edfcf;
}

.nav .nav-item.active {
 	color: #7edfcf;
}

@media screen and (max-width: 760px) {
	.header {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		margin-top: 0;
		background: linear-gradient(90deg, #352b56, #382d5b, #3d3161);
	}
	.menu-icon {
		display: inline-block;
	}

	.nav {
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
		align-items: center;
		background: linear-gradient(90deg, #352b56, #382d5b, #3d3161);
		z-index: 1000;
		overflow: auto;
		margin-right: 0;
	}

	.nav .nav-item {
		text-align: center;
		padding: 5px 0;
	}

	.footer-navbar .nav {
		margin-right: 0;
		margin-left: 0;
	}

}

.lorem {
	font-size: 14px;
    line-height: 1.7;
    font-family: "Roboto";
    margin-bottom: 19px;
    margin-top: 15px;
    color: #a7a7a7;
}

.lorem + .lorem {
	margin-top: 0;
	margin-bottom: 25px;
}

.welcome {
	background: url(../image/bg-head.png) no-repeat center;
	background-size: cover;
	height: 675px;
	position: relative;
}

.welcome-first-screen {
	width: 100%;
	height: 100%;
	text-align: center;
}

.welcome-item {
	position: absolute;
    bottom: 190px;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}


.welcome-item .lorem {
    margin-top: 25px;
    margin-bottom: 45px;
}

.welcome-item .separator {
	margin-top: 8px;
	margin-bottom: 0;
    border-bottom: 1px solid #62b1c8;
}

.learn {
	margin-bottom: 10px
	margin-top: 25px;
}


.about {
}

.about-content {
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	padding: 64px 50px;
}

.about-logo {
	width: 230px;
    height: 225px;
	margin: 0 auto;
}

.about-item {
	width: 540px;
	padding: 0 5px;
    margin-left: auto;
}

.about-item__button {
	padding-left: 4px;
	padding-right: 4px;
}

.about-video {
    height: 550px;
    background: url(../image/bg-video.png) no-repeat center;
}

.about-video__play {
	display: flex;
	display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.play {
	display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    margin: auto;
}

.play-icon {
	padding: 20px 30px;
}

.play-text {
	display: flex;
	display: -ms-flexbox;
    justify-content: center;
    align-items: start;
    text-transform: uppercase;
}

@media screen and (max-width: 760px) {
	.about-content {
		padding: 10px;
	}
}

.technology {
    padding-top: 60px;
}

.technology-item {
	text-align: center;
}

.technology-item__text {
	margin-top: 5px;
	margin-bottom: 10px;
}

.technology-item__title,
.technology-item__subtitle {
	font-family: 'Roboto';
	font-weight: bold;
}

.technology-list {
	padding-top: 35px;
	padding-bottom: 55px;    

}

.technology-list__item {
	display: flex;
	display: -ms-flexbox;
    flex-flow: row wrap;
    max-width: 964px;
    margin: auto;
}

.technology-list__content {
	width: 280px;
	padding: 25px 20px;
	border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.technology-list__content:nth-child(3n + 3) {
    border-right: 0;
}

.technology-list__content:nth-child(n + 4) {
    border-bottom: 0;
}

.technology-list__icon {
	height: 55px;
	width: intrinsic;           
  	width: -moz-max-content;    
  	width: -webkit-max-content;
  	width: max-content;
	padding-top: 10px;
	margin: 0 auto;
}

.technology-list__text {
	margin-top: 25px;
}

.technology-list__text .lorem {
	margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
	.technology-list__content {
		border: 0;
		margin: auto;
	}
}

.our-team {
	background: url(../image/bg-content_1.png) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 712px;
	text-align: center;
}

.our-team__item {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	padding-top: 65px;
}

.our-team__list {
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0 45px;
	margin-top: 35px;
	margin-bottom: 65px;
}

.employee-card {
	width: 220px;
	margin: auto;
}

.employee-card__photo {
	height: 220px;
}

.employee-card__title {
	text-align: center;
	padding: 20px 10px;
	border: 1px solid #a3a3a3;
}

.employee-card__title_name, 
.employee-card__title_position {
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: bold;
	color: #fff;
	display: block;
    text-transform: uppercase;
}

.employee-card__title_position {
	font-weight: normal;
	margin-top: 5px;
	font-size: 13px;
    color: #c4c4c4;
}

.our-team__join .our-team__join-text {
	display: block;
	margin-bottom: 25px;
}

.portfolio {
}

.portfolio-item {
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

.portfolio-item__title {
	margin-top: 10px;
}

.portfolio-load {
	display: flex;
	justify-content: center;
	padding: 68px 0;
}

.portfolio-item__link .link {
	background: url("../image/arrow.png") no-repeat scroll right center transparent;
	padding: 0 15px 0 0;
	margin-top: 15px;
}

.slide-portfolio {
	width: 100%;
	height: 400px;
	margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.slide-portfolio__item {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.control-slide__next,
.control-slide__prev {
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@media screen and (max-width: 760px) {
	.portfolio-item {
		padding: 20px 10px;
	}

}

.reviews-item__control .reviews-item__control-button {
	position: relative;
	margin-top: 0;
	top: 0;
	right: 0;
	left: 0;
	-webkit-background-size: 11px 21px;
	background-size: 11px 21px;
}

.control-slide__prev {
	left: 11px;
}

.control-slide__next {
	right: 11px;
}

.reviews-item__control {

}


.reviews {
	background: url(../image/bg-content_2.png) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 500px;
}

.reviews-item {
	padding-top: 50px;
	padding-bottom: 15px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-item__slide {
	width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.reviews-item__line {
	position: relative;
	width: 250px;
	height: 90px;
    box-sizing: border-box;
}


.reviews-item__customer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.reviews-item__wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0,0,0)!important;
}

.reviews-item__customer-quotes {
	font-size: 85px;
    height: 70px;
    letter-spacing: -10px;
    quotes: '\2018' '\2018';
    font-family: 'Playfair Display';
    font-weight: bold;
}

.reviews-item__customer-text {
	font-size: 19px;
    font-family: 'Playfair Display';
    line-height: 1.4;
    margin-top: 10px;
}

.reviews-item__customer-data {
	margin-top: 20px;
    margin-bottom: 30px;
}

.reviews-item__customer-name,
.reviews-item__customer-position {
	display: block;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto';
}

.reviews-item__customer-position {
	font-size: 18px;
	font-weight: normal;
}

.gallery-thumbs {
	width:416px;
}

.gallery-thumbs .swiper-slide {
	background-repeat: no-repeat;
	width: 45px !important;
	height: 45px !important;
	margin: 5px !important;
    }
    
.gallery-thumbs .swiper-slide-thumb-active {
	width: 70px !important;
	height: 70px !important;
 }


.clients {

}

.clients-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 55px 50px;
}

.clients-list {
	flex-basis: 385px;
}

.contact-form {
	flex-basis: 465px;
}

 .field-block {
	margin-bottom: 20px;
}

.field-block label, .field-block .field {
	display: block;
	width: 90%;
}

.field-block label {
	margin-bottom: 8px;
	font-weight: bold;
}

.field-block .field {
	font-size: 16px;
	padding: 8px 12px;
	line-height: 1.5;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.field-block .field:focus {
  border-color: #cacaca;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(178, 213, 241, .6);
}

.field-block textarea {
	resize: vertical;
	height: 200px;
}

.check-text {
	font-size: 14px;
	vertical-align: top;
}

.button {
	cursor: pointer;
	font-size: 16px;
	padding: 6px 12px;
	margin-bottom: 5px;
}

#loader {
	display: none;
}

.clients-brend {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
    justify-content: space-between;
    height: 450px;
}


.clients-brend-item {
	min-width: 130px;
}
.clients-brend-item__img {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
}

.clients-brend-item .img {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}

.footer {
	background: url(../image/bg-contentFooter.png) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 400px;
	width: 100%;
}

.footer-container {
	justify-content: space-around;
	align-items: flex-start;
    padding: 65px 15px;
    height: auto;
    color: #a7a7a7;
}

.footer-item {
	width: 300px;
}

.footer-item .logo {
	margin-left: 0;
}

.footer-item .contact {
	padding: 0 10px;
}

.footer-navbar {
	width: 100%;
	margin-top: 70px;
}

.footer-navbar .nav {
	position: relative;
	margin-left: 40px;
}

.nav-footer .nav-item {
	font-size: 16px;
}

.addres, .phone {
	font-family: 'Roboto';
	font-weight: 300;
	margin-bottom: 15px;
}

.contact-item {
	padding: 0 15px;
}

.subscribe .subscribe-form {
	display: flex;
    flex-flow: row nowrap;
}

.subscribe .subscribe-form__input {
	margin-right: 10px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #ccc;
}

.subscribe .subscribe-form__button {
	margin-bottom: 0;
    padding: 5px 20px;
    border: none;
    border-radius: 0;
    background-color: #ccc;
}

.subscrube-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.subscrube-item__link {
	display: inline-block;
}

.social-icon {
	display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.icon-tlg {
	background: url(../image/tlg.png) no-repeat center center;
}

.icon-fb {
	background: url(../image/fb.png) no-repeat 0 0;
}
.icon-tvt {
	background: url(../image/tw.png) no-repeat 0 0;
}
.icon-drbl {
	background: url(../image/drbl.png) no-repeat 0 0;
}
.icon-inst {
	background: url(../image/insta.png) no-repeat 0 0;
}
.icon-gplus {
	background: url(../image/g+.png) no-repeat 0 0;
}
.icon-ytb {
	background: url(../image/ytb.png) no-repeat 0 0;
}

.contact-item-icon:before {
	position: absolute;
	width: 25px;
	height: 25px;
	margin-left: -25px;
}

.contact-item__location:before {
	content: "";
	background: url(../image/location.png) no-repeat;
}

.contact-item__phone:before {
	content: "";
	background: url(../image/phone.png) no-repeat;
}


@media screen and (max-width: 760px) {
	.clients-item {
		padding: 10px;
	}
	.field-block label, .field-block .field {
		width: 100%;
}
}

